<nav class="navbar navbar-expand-lg shadow-sm p-3 mb-5 fixed-top mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo.png" alt="Bootstrap" width="50" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transactions" routerLinkActive="active">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cash" routerLinkActive="active">Revenus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sms" routerLinkActive="active">Messages <span class="badge text-bg-danger">4</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>